{# Usage:  
    {% include "form-elements/select.twig" with {
      id: 'id',
      name: 'Name', 
      classes: '',
      placeholder: '',
      selected: '',
      options: ['Opt1', 'Opt2', 'Opt3'] } 
    %}
  #}
<select{% if id %} id="{{ id }}"{% endif %}{% if classes %} class="{{ classes }}"{% endif %} title="{{ name }}">
    {% if placeholder %}<option value="-6" default>{{ placeholder }}</option>{% endif %}
    {% for key, value in options %}
      <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
  </select>
</div>