{# Usage:  
    {% include "form-elements/select.twig" with {
      id: 'id',
      name: 'Name', 
      classes: '',
      placeholder: '',
      multiple: false,
      disabled: false,
      options: [
        {type: 'normal', text: 'Javascript', disabled: false},
        {type: 'normal', text: 'Ajax', selected: true},
        {type: 'normal', text: 'HTML'},
        {type: 'optgroup', label: 'Group', group: [
          {type: 'normal', text: 'HTML'},
          {type: 'normal', text: 'HTML'},
        ]},
      ]
    } 
    %}
  #}

<select{% if id %} id="{{ id }}"{% endif %}
          {% if classes %} class="{{ classes }}"{% endif %} title="{{ name }}"
          {% if multiple %} multiple{% endif %}
          {% if placeholder %} data-placeholder="{{ placeholder }}"{% endif %}
          {% if disabled %} disabled{% endif %}>
  {% for value in options %}
    {% if value.type == 'normal' %}
      <option value="{{ value.text | css }}"{% if value.selected %} selected{% endif %}
              {% if value.disabled %} disabled{% endif %}>{{ value.text }}</option>
    {% endif %}
    {% if value.type == 'optgroup' %}
      <optgroup label="{{ value.label }}">
        {% for opt in value.group %}
          {% if opt.type == 'normal' %}
            <option value="{{ opt.text | css }}"
                    {% if opt.selected %} selected{% endif %}
                    {% if value.disabled %} disabled{% endif %}>{{ opt.text }}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
    {% endif %}
  {% endfor %}
</select>